APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=Europe/Moscow

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=replace_with_timeweb_database
DB_USERNAME=replace_with_timeweb_user
DB_PASSWORD=replace_with_timeweb_password
DB_TYPE=MySQLi

IMAGE_MAX_SIZE=5242880
CACHE_DRIVER=array
QUEUE_DRIVER=sync
